{{> head}}
<!-- Header -->
{{> header}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRCmS0UsD8zSfKb8i7dyiR7FNA2f6opV0"></script>


<main role="main" class="bg-lightgrey">

<!-- City Scorecard Navigation -->
<section class="city-nav">
  <div class="grid-med">
    <div id="scorecard-city-select-render" class="city-nav__container"></div>
  </div>
</section>

<div id="scorecard-city"></div>

</main>

<!-- Footer -->
{{> footer}}
