{{> head}}
<!-- Header -->
{{> header}}

<main role="main" class="bg-lightgrey">

<!-- City Scorecard Navigation -->
<section class="heading heading--sm bg-lightgrey" data-scroll-index="">
  <header class="grid-lg">
    <h2 class="heading__title">Interactive Ranking & City Dashboards</h2>
  </header>
</section>


<section class="scorecard-table pad-sm bg-lightgrey">
  <div id="scorecard-data"></div>
</section>


</main>

<!-- Footer -->
{{> footer}}
